@charset "UTF-8";
/* CSS Document */


body {
	background-color: #F5DEB3;
	color: #000;
}

.video {
    width: 840px;
    margin-right: auto;
    margin-left: auto;
    }

.animation {
    width: 840px;
    margin-right: auto;
    margin-left: auto;
    }

.final {
    width: 840px;
    margin-right: auto;
    margin-left: auto;
    }

.projectheading {
    text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	padding: 20px;
}

section {
	max-width: 1200px;
	margin: 20px auto;
	background-color: none;
	padding: 20px;
}

hr{
	border: thin solid green;
}
	
h1{
	
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	padding: 20px;
	}

h2{
	text-transform: uppercase;
	color: black;
    text-align: center;
    margin: 40px;
    font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

#top {
	background-color: #F93;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 7px;
	
}

section#mainImage img {
	width: 1000px;
	height: 400px;
	margin: 10px auto;
	display: block;
	/* Try this for background-color: grey or FFF599*/
}


#bottom {
	padding-top: 5px;
	height: 30px;
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

#bottom a {
	padding: 5px;
	font-size: 18px;
	font-weight: 600;
	color: green;
}

#bottom a:hover { 
    color: #1A1D23;
}

header{
	background-color: #1A1D23;
	padding: 5px;
	color: white;
	margin-bottom: 30px;
	}

nav {
    float: right;
}

ul.menu{
    padding:0;

}
ul.menu li {
    list-style-type: none;
	float: left;
}

ul.menu li a {
    text-decoration: none;
    color: white;
	font-weight: 600;
    padding: 10px;
    display:inline-block;
	margin: 0;
}
ul.menu li a:hover { 
    color: green;
}
/*you get to fully style the under class*/

.under /*selector*/{
    /*attribute: value;*/
}

.clearfix:after {
    content:" ";
    display:block;
  clear:both;

}
.logo{
    float: left;
	cursor: pointer;
}

